<!doctype html>
<html lang="es">
    <head>
        <meta charset=utf-8>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width">
        <title>{% block title %}Title{% endblock %}</title>
        {{ "style.css" | asset_url | stylesheet_tag }}
        {% block styles %}{% endblock %}
    </head>
    <body>
        <div id="container" class="{{mixture.url}}">
            {% block content %}{% endblock %}
        </div>
        {% block scripts %}{% endblock %}
        {% include "footer" %}
    </body>
</html>