@import "mixins.less";
* {
	margin: 0;
	padding: 0;
}
// █ ▇ ▆ ▅ ▄ ▂ ▁ ▁ ▂ ▄ ▅ ▆ ▇ █ DESIGN
body {
	font-family: Arial, Helvetica, sans-serif; 
	background-color: white;
	color: #666;
}
#container {
	width: 800px;
	margin: 0 auto;
	position: relative;
}