{% block content %} 
{% include "header" %}

	<div class="content">

		<div class="mainbanner">
			<h2>Title</h2>
			<img src="http://imgsrc.me/800x300/9a1e1b/f3f3f3?">
		</div>
		
		{{ 5 | lorem_ipsum:'p' }}
		
	</div>

{% include "footer" %}
{% endblock %}